body {
    text-align: center;
    font-family: 'Lobster', cursive;
    background-color: black;
    background-image: url("/GroupProject/image/group_image.jpg");
}

header {
    color: white;
    letter-spacing: 4px;
    font-size: 30px;
    text-shadow: 3px 3px 5px rgb(233, 25, 25);
}

a {
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: rgb(40, 187, 138);
    letter-spacing: 2px;
    text-shadow: 3px 3px 7px black;
}
a:hover {
    color: white;
    transition: 0.3s;
}